@import "variables";

#price-item-box-list{
  font-size:$pixel24;
  margin-bottom:$pixel32;
}
#title-item-box-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:$pixel18;}
#box-item-list{
  position: relative;
  background-color:white;
  margin-left:5px;
  margin-right:5px;
  border-bottom: 2px solid $bodyColor;
}


.content-picture-item{
  padding:$pixel16;
}
.content-picture-item>img{
  width:$pixel180;
  border-radius:$pixel4;
}
#title-item-box-list{
  color:black;
  font-size:$pixel18
}
#adrress-item-box-list{
  color:black;
  display: flex;
  align-items: center;
}

