//Pixels
$pixel32:32px;
$pixel16:16px;
$pixel24:24px;
$pixel46:46px;
$pixel18:18px;
$pixel14:14px;
$pixel180:180px;
$pixel4:4px;
//Colors
$lightBlueColor:#3483FA;
$lightGray:#999999;
$gray:#666666;
$bodyColor:#EEEEEE;
$yellowColor:#FFE600;
$whiteColor: white;
